body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    width: 100%;
    background: #d7f3f3ef;
    padding: 0 50px;
    box-sizing: border-box;
    box-shadow:16px -2px 10px 0px;
}

nav h1 {
    margin: 0;
    padding: 15px 20px;
    float: left;
    font-size: 2.5em;
}

.brand-dot {
    color:rgb(0, 255, 255);
    margin: 5px 0 0 -43px;
    padding: 15px 20px;
    float: left;
    font-size: 2.3em;
}
.brand-dot a{
    color:aqua;
}

nav h1 a {
    color: black;
    text-decoration: none;
}

.clear {
    clear: both;
}
nav ul{
    margin:0;
    padding:0;
    float:right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 32px 30px;
    transition: 0.5s;
}
.contact {
    list-style: none;
    display: inline-block;
    padding: 32px 30px;
    padding-right:500px;
    transition: 0.5s;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.login-icon{
    display: inline-block;
    color:rgb(235, 82, 82);
    padding-right:4px;
}
.login{
    padding:0;
}
.login a{
    color:rgb(235, 82, 82);
}



.right-section{
    float:left;
}

.list-item{
    margin:56px 0 0 0;
    
}
.list-itemc{
    margin:56px 0 0 0;
    color:red;
}
.right-section a{
    margin:30px 20px 20px 80px;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size:1.1.5em;
}

.right-content{
    margin:14px 0 0 80px;
    width:300px;
    text-align:justify;
}


.left-section{
    float:right;
}
.left-section>button{
    height:30px;
    width:30px;
    text-decoration: none;
    margin:20px 30px 0 0;
    background-color:rgb(221, 220, 220);
    border:none;
    border-radius:10px;
}
.box1{
    background-color:rgb(211, 230, 228);
    position:absolute;
    right:210px;
    top:230px;
    /* border:3px solid red; */
    height:205px;
    width:600px;
    border-radius: 20px;
}
.box2{
    background-color:rgb(211, 230, 228);
    position:absolute;
    right:52px;
    top:486px;
    /* border:3px solid red; */
    height:200px;
    width:600px;
    border-radius: 20px;
}
.img1{
    
    position:absolute;
    right:145px;
    top:175px;
    height:500px;
    width:625px;
    z-index:3;
}
.img2{
    position:absolute;
    right:88px;
    top:220px;
    height:500px;
    width:625px;
    z-index:2;
}